<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<environmentVariables>
		<environmentVariable 
			name="sqlconnstr"
			value="${gslconfigvariable}"
            xdt:Locator="Match(name)"
			xdt:Transform="Replace" />
	</environmentVariables>

</configuration>